// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, td, tr, th{
  border: 1px solid black;
  border-collapse: collapse;
}
*{
  font-family: courier;
  text-align: center;
}
table{
  margin-left: 35%;
  margin-right: 35%;
}
body{
  background-color: rgba(128,128,128, 0.4);
}
a{
  color:red;
  text-decoration: none;
}
